.home {
    width: 1500px;
    height: 800px;
    margin-bottom: 100px;
    border: 2px solid black;
    overflow: hidden;
}
.home__container {
    width: 10000px;
    height: 10000px;
    background-color: white;
}